# my.css is my style for my HTML pages
body {
  background-color: #222;
  color: #fff;
}

h1 {
  color: #eee;
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 10px;

